.main-wrapper.events-wrapper {
  padding-bottom: 50px;
  .main-content-wrapper {
    .events-wrapper {
      .events {
        .event {
          &:nth-of-type(3n+1) {
            margin: 0;
          }
          &:nth-of-type(3n+2) {
            margin: 0;
          }
          &:nth-of-type(3n) {
            margin: 0;
          }
          a{
            margin: 0 10px;
            .img-wrapper {
              width: 100%;
            }
          }
        }
      }
    }

    .past-events-wrapper {
      .past-event {
        .content-wrapper {
          padding-top: 0;
        }
      }
    }

  }

}