footer {
  padding: 30px 15px 0;
  background-color: $blue-1;
  .top {
    padding-bottom: 25px;
    .left {
      margin-top: 20px;
    }
    .right {
      padding: 0;
      .marine-logo-wrapper {
        margin-top: 10px;
        margin-left: 10px;
        ul {
          display: inline-block;
          margin: 0;
          padding: 0;
          float: none;
          li {
            display: inline-block;
            float: none;
            margin-top: 15px;
          }
        }
      }
      .social-media-wrapper {
        margin-top: 10px;
        margin-left: 10px;
        ul {
          float: none;
          li {
            float: left;
          }
        }
      }
    }
  }
  .bottom{
    padding: 15px 10px;
    .left{
      padding: 0;
    }
    .right{
      padding: 15px 0 0;
      margin: 0;
    }
  }
}