.main-wrapper.reciprocal-clubs-wrapper {
  .main-content-wrapper {
    padding: 50px 0;
    .container {
      .row {
        > div {
          &.left {
            width: 25%;
          }
          &.right {
            width: 75%;
          }
        }
      }
    }
  }
}